.squares {
    height: 20vh;
    width: 20vw;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 30px;
}

.square {
    height: 40px;
    width: 40px;
    background-color: aquamarine;
    text-align: center;
}